.my_wysiwyg-editor {
    height: 500px;
    width: 70%;
    border: 1px solid;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    overflow: auto;
    resize: both;
}


h2 {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 15px;
}

.textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.blue {
	color: #5998ff;
}

.purple {
	color: #a20dc4;
}

.pink {
	color: #ff68b6;
}

.red {
	color: #db0015;
}

.orange {
	color: #ff7b00;
}

.yellow {
	color: #ffd932;
}

.green {
	color: #4caf16;
}

.black {
	color: black;
}

.eight {
	font-size: 8px;
}

.ten {
	font-size: 10px;
}

.twelve {
	font-size: 12px;
}

.fifteen {
	font-size: 15px;
}

.eighteen {
	font-size: 18px;
}

.twenty {
	font-size: 20px;
}

.twentytwo {
	font-size: 22px;
}

.twentyfive {
	font-size: 25px;
}

.twentyeight {
	font-size: 28px;
}

.thirty {
	font-size: 30px;
}

.thirtytwo {
	font-size: 32px;
}

.thirtyfive {
	font-size: 35px;
}

.thirtyeight {
	font-size: 38px;
}

.forty {
	font-size: 40px;
}

.fortyfive {
	font-size: 45px;
}

.fifty {
	font-size: 50px;
}

.fiftyfive {
	font-size: 55px;
}

.sixty {
	font-size: 60px;
}

.sixtyfive {
	font-size: 65px;
}

.seventy {
	font-size: 70px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.justify {
	text-align: justify;
}